.tab-wrapper {
  position: absolute;
  bottom: -175px;
  width: 100%;
  @include media-breakpoint-down(lg) {
    position: relative;
    // bottom:0;
  }
}
.tab-container { position: relative; padding:0px; -webkit-backdrop-filter: blur(20px);backdrop-filter: blur(20px);background-color: rgba(255, 255, 255, 0.7); box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;}
.tab-container .nav-item {width: 120px; height: 120px; }
.nav-tabs .nav-link.active { background-color: transparent !important;}
.nav-tabs .nav-link { transition: all 0.4s ease; background-color: var(--theme-color);}
.nav-tabs .nav-link h4,
.nav-tabs .nav-link i {color: #fff !important; }
.nav-tabs .nav-link.active h4,
.nav-tabs .nav-link.active i {color: var(--theme-color) !important;}
// .nav-tabs .nav-link.active:after {width: 100%; height: 25px; bottom: -20px; content: ''; position: absolute; background-color: #fff; left:0;transition: all 0.4s ease; }

