
.mont-font {font-family: "Montserrat", sans-serif; }
.roboto-font {font-family: 'Roboto', sans-serif;}
.open-font {font-family: 'Open Sans', sans-serif;}
.fredoka-font {font-family: 'Fredoka One', cursive;}

 